@import "./variables.scss";

.dm {
	font-family: $font-dm;
}

.mont {
	font-family: $font-mont;
}

.sand {
	font-family: $font-sand;
}

.font-big {
	font-size: 8rem;
}
.font-small {
	font-size: 2rem;
}
